#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url();
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
  }
  /* 文章页背景 */
#ft {
    max-width: 1200px;
    margin: 0 auto 12px;
    display: flex;
    color: rgba(255, 255, 255, 0.3) !important;
    text-align: left;
    flex-wrap: wrap;
}